.page-margin-top, .default-page, .Calendar {
  margin-top: 2em; }

.page-width, .default-page, .Calendar {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw; }

.Calendar {
  height: 100vh;
  padding-bottom: 3em; }

.modal.fade.show {
  background: transparent !important;
  box-shadow: none !important; }

.rbc-events-container {
  width: 100%; }
